@import 'normalize.css';

body {
  background-color: beige;
  overflow: hidden;
}

canvas {
  position: absolute;
}

img {
  display: none;
}

button {
  padding: 15px;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid black;
  margin: 20px;
  background-color: black;
  color: beige;
  transition: all 200ms;

  &:hover {
    background-color: beige;
    color: black;
  }
}

.controls {
  position: absolute;
  z-index: 100;
}
